
form {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.button{
    background: #cbcbcb;
    border-radius: 10px;
    font-size: 18px;

}
.button:hover{
    background: #989898;
}
h1{
    padding: 0;
    margin: 0;
}



.line {
    width: 120%;
    display: flex;
    justify-content: space-between;
}

input {
    padding: 2px;
    font-size: 16px;
    width: 200px;
}
